name: Make docs

on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'  # accept all tags of the format vX.X.X

jobs:
  deploy:
    name: Make docs
    runs-on: ubuntu-latest
    if: github.repository == 'gutsche-lab/blik'
    steps:
    - name: Checkout code
      uses: actions/checkout@main
    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install Dependencies
      working-directory: ./docs
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Build the book
      working-directory: ./docs
      run: |
        jupyter-book build .
    - name: GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
